//------------------------------------------------------------------------------
// Brand Header
//------------------------------------------------------------------------------

.BrandHeader {
	padding: 2rem 0 0;
}

.BrandHeader .LogoLink > img {
	max-height: 80px;
	max-width: 240px;
}
