//------------------------------------------------------------------------------
// Site Utilities And Promotions
//------------------------------------------------------------------------------

.SitePromotions {
	background-color: var(--color-accent-1);
	@include flex(1);
	padding: 1rem;
	text-align: center;
}

//------------------------------------------------------------------------------
// Promotion
//------------------------------------------------------------------------------

.Promotion {
	--link: var(--color-light);
	--link-hover: var(--color-base-3);
}

.Promotion > * {
	color: var(--color-light);
	margin: 0;
}
