//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------

.Button {
	--background-color: var(--color-accent-2);
	--border-color: var(--color-accent-1);
	--line-height: 1;
	--link-hover: var(--color);
	--link-active: var(--color);
	--button-padding-height: calc(var(--font-size) / 1.454);
	background: var(--background-color);
	border: 1px solid var(--color-accent-1);
	border-radius: 3rem;
	color: var(--color);
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	height: var(--button-height);
	letter-spacing: 1.12px;
	line-height: 1.8rem;
	padding: var(--button-padding-height) 2rem;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--transition-fast);
	vertical-align: middle;
	i {
		font-size: 1.7rem;
		line-height: 1.5rem;
		position: relative;
		top: 2px;
	}
}

.Button:hover {
	--background-color: var(--color-accent-2-lighter);
}

.Button:active,
.Button.Active {
	--background-color: var(--color-base-2);
	box-shadow: inset 0 1px 2px var(--black-10);
}

//------------------------------------------------------------------------------
// Button Primary
//------------------------------------------------------------------------------

.Button-Primary {
	--background-color: var(--color-accent-2);
	--border-color: var(--color-accent-2);
	--color: var(--color-light);
	--link-hover: var(--color-light);
	--link-active: var(--color-light);
	font-weight: bold;
}

.Button-Primary:hover {
	--background-color: var(--color-accent-2-lighter);
}

.Button-Primary:active,
.Button-Primary.Active {
	--background-color: var(--color-accent-2-lighter);
}

//------------------------------------------------------------------------------
// Button Secondary
//------------------------------------------------------------------------------

.Button-Secondary {
	--background-color: var(--color-accent-2);
	--border-color: var(--color-accent-2);
	--color: var(--color-light);
	--link-hover: var(--color-light);
	--link-active: var(--color-light);
	font-weight: bold;
	text-transform: uppercase;
}

.Button-Secondary:hover {
	--background-color: var(--color-accent-2-lighter);
}

.Button-Secondary:active,
.Button-Secondary.Active {
	--background-color: var(--color-accent-2-lighter);
}

//------------------------------------------------------------------------------
// Button Sizes
//------------------------------------------------------------------------------

.Button-Big {
	height: calc(var(--button-height) + 1rem);
	padding: calc(var(--button-padding-height) + .5rem) 2rem;
}

.Button-Small {
	color: var(--color-light);
	height: calc(var(--button-height) - 1rem);
	padding: calc(var(--button-padding-height) - .512rem) 1.5rem;
}

//------------------------------------------------------------------------------
// Button Utilities
//------------------------------------------------------------------------------

.Button-Block {
	display: block;
	text-align: center;
	width: 100%;
}

.Buttons-Block .Button {
	@extend .Button-Block;
}

.Buttons-Block .Button + .Button {
	margin-top: 5px;
}

//------------------------------------------------------------------------------
// Icon Button
//------------------------------------------------------------------------------

.IconButton {
	border-radius: var(--border-radius);
	display: inline-flex;
	flex-direction: column;
	font-size: var(--font-size-small);
	justify-content: center;
	line-height: 1;
	padding: 0 1.5rem;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--transition-slow);
	vertical-align: baseline;
}

.IconButton + .IconButton {
	margin-left: 0rem;
}

.IconButton > .fa,
.IconButton:before {
	display: block;
	font-size: 3rem;
	margin: .5rem 0 !important;
}

.IconButton:hover {
	background: none;
}

a.IconButton:hover {
	color: #666666 !important;
}

.IconButton:active,
.IconButton.Active {
	background-color: var(--color-base-3);
}

.IconButtonCart {
	flex-flow: nowrap;
	margin-right: 0 !important;
}

.IconButton:hover .CartTotalVisual {
  color: #666666;
}

.IconButton:hover a {
	color: #666666;
}

@media (max-width: 1200px) {
	.IconButton > .fa,
	.IconButton:before {
		font-size: 2rem;
	}
}

//------------------------------------------------------------------------------
// Button-White
//------------------------------------------------------------------------------

.Button-White {
	@extend .Button;
	background: var(--color-light);
	color: var(--color-dark);
	border: 1px solid var(--color-dark);
}

.Button-White:hover {
	background: #f7f7f7;
}

//------------------------------------------------------------------------------
// Extend Button
//------------------------------------------------------------------------------

form button {
	@extend .Button;
	color: var(--color-light);
}

form:not([action="/search/"]):not(#NewsletterSubscribeForm) [type='submit'] {
	@extend .Button-Primary;
}
