//------------------------------------------------------------------------------
// Share Buttons
//------------------------------------------------------------------------------

.ExtShareButtons {
	@include flexbox;
	@include flex-wrap;
	margin: -.5rem !important;
	max-width: 500px;
	padding: 0 !important;
}

.ExtShareButton {
	@include flex(1 1 calc(25% - 1rem) !important);
	margin: .5rem !important;
	min-width: 100px;
}

.ExtShareButton:hover {
	color: #ffffff !important;
}

.ExtShareButton.Facebook > .ExtShareButtonText {
	@include icon-b-before($fa-var-facebook);
}

.ExtShareButton.GooglePlus > .ExtShareButtonText {
	@include icon-b-before($fa-var-google-plus);
}

.ExtShareButton.LinkedIn > .ExtShareButtonText {
	@include icon-b-before($fa-var-linkedin);
}

.ExtShareButton.Twitter > .ExtShareButtonText {
	@include icon-b-before($fa-var-twitter);
}

.ExtShareButton > .ExtShareButtonCount {
	display: none;
}

//------------------------------------------------------------------------------
// Admin Tools
//------------------------------------------------------------------------------

#AdminTools {
	overflow: hidden;
}

@media screen and (max-width: $breakpoint-tablet) {
	#AdminTools {
		display: none;
	}
}

//------------------------------------------------------------------------------
// Theme Visible
//------------------------------------------------------------------------------

[data-theme-visible] {
	display: none;
}

[data-theme-visible="true"] {
	display: block;
}
