//------------------------------------------------------------------------------
// Notifications
//------------------------------------------------------------------------------

.Notification {
	--color: var(--color-text-dark);
	--background-color: var(--color-notification-bg);
	--border-color: var(--color-notification-bg);
	@extend %default-margin;
	background-color: var(--background-color);
	border: 0 solid var(--border-color);
	border-radius: var(--border-radius);
	color: var(--color);
	padding: 10px 15px;
	position: relative;
}

.Notification.Success {
	--background-color: var(--color-success-bg);
	--border-color: var(--color-success);
}

.Notification.Error {
	--background-color: var(--color-error-bg);
	--border-color: var(--color-error);
}

.Notification > :last-child {
	margin-bottom: 0;
}

//------------------------------------------------------------------------------
// Notification Center
//------------------------------------------------------------------------------

.NotificationCenter {
	left: 50%;
	margin-left: -240px;
	position: fixed;
	top: 20px;
	width: 480px;
	z-index: 10000;
}

.NotificationCenter > .Notification {
	box-shadow: 0 1px 2px var(--black-10);
	margin-bottom: 10px;
	border-width: 1px;
}

@media screen and (max-width: $breakpoint-mobile-wide) {
	.NotificationCenter {
		bottom: 10px;
		left: 10px;
		margin: 0;
		right: 10px;
		top: auto;
		width: auto;
	}

	.NotificationCenter > .Notification {
		margin: 5px 0 0;
	}
}
